<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dự án 3</title>
  <!-- ====== link css ======= -->
  <link rel="stylesheet" href="./asset/css/reset.css">
  <link rel="stylesheet" href="./asset/css/styles.css">

  <!-- ======= link icon ======= -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- ======= link font ======== -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
</head>
<body>
  <!-- =========== header =========== -->
  <header class="header">
    <div class="content">
      <div class="body">
      <a href="" class="logo">
        <i class="fa-solid fa-dove fa-2xl"></i>
        <strong id="Contact">Besnil.</strong>
      </a>
      <nav class="navbar">
        <ul>
          <li><a href="#Home" title="Home">Home</a></li>
          <li><a href="#Features" title="Features">Features</a></li>
          <li><a href="#Pricing" title="Pricing">Pricing</a></li>
          <li><a href="#About" title="About">About</a></li>
          <li><a href="#contact" title="Contact">Contact</a></li>
        </ul>
      </nav>
      <div class="action"><a href="#!" class="sign-in">Sign in</a><a href="#!" class="sign-up btn">Sign up</a></div>
    </div>
    </div>
  </header>

  <main>
    <!-- ========== hero ========== -->
    <div class="hero" id="Home">
      <div class="content">
        <div class="body">
          <div class="left">
          <p class="easy">😎 EASY LEAENING PLATFORM</p>
          <h1 class="title">Words learner come here.</h1>
          <p class="desc">Build skills with courses, certificates, and get online knowledge from our world-class platform.</p>
          <div class="hero-action">
            <a href="#!" class="btn">Get Started</a>
            <div><i class="fa-solid fa-play"></i></div>
          </div>
        </div>
        <div class="right">
          <img src="https://plus.unsplash.com/premium_photo-1674841252391-efd5fe8266d5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzMxfHxkb2N0ZXVyfGVufDB8fDB8fHww&auto=format&fit=crop&w=400&q=60" alt="" class="img">

          <!-- box-1 -->
          <div class="box-1">
            <i class="fa-solid fa-book"></i>
            <p class="book">Courses 1000+</p>
          </div>

          <!-- box-2 -->
          <div class="box-2">
            <div style="font-weight: 500;
            font-size: 20px;
            line-height: 15px;
            color: #0D1111;
            ">Schedules</div>
            <div class="room">
            <i class="fa-regular fa-hospital icon"></i>
            <span class="desc">Hospital</span>
          </div>
          <div class="room">
            <i class="fa-solid fa-truck-medical icon"></i><span class="desc">Car</span>
          </div>
          <div class="room">
            <i class="fa-solid fa-stethoscope icon"></i><span class="desc">Hospital</span>
          </div>
          </div>

          <!-- box-3 -->
          <div class="box-3">
            <div class="our">Our Active Students</div>
            <div class="avatar">
              <img src="https://randomuser.me/api/portraits/women/79.jpg" alt="">
              <img src="https://api.uifaces.co/our-content/donated/xZ4wg2Xj.jpg" alt="">
              <img src="https://images.unsplash.com/photo-1493666438817-866a91353ca9?ixlib=rb-0.3.5&q=80&fm=jpg&crop=faces&fit=crop&h=200&w=200&s=b616b2c5b373a80ffc9636ba24f7a4a9" alt="">
              <img src="https://images.unsplash.com/photo-1456327102063-fb5054efe647?ixlib=rb-0.3.5&q=80&fm=jpg&crop=faces&fit=crop&h=200&w=200&s=f05c14dd4db49f08a789e6449604c490" alt="">
              <div class="name">10K+</div>
            </div>

          </div>
        </div>
        </div>
        </div>
      </div>

      <!-- ========== feature ========== -->
    <div class="feature" id="Features">
      <div class="content">
        <div class="body-top">
          <p class="duan">FEATURES</p>
        <h2 class="title">We are providing suitable features for students.</h2>
          <p class="desc">Read our awesome feature that is absolutely suit for you. Explore the feature and know the best.</p>
        </div>

        <div class="body-bot">
          <div class="bot">
            <div class="icon">
            <i class="fa-solid fa-desktop"></i>
            </div>
           <h3>Live Class</h3>
            <p class="desc">We are providing live classes with the best teacher for you</p>
         </div>

         <div class="bot">
          <div class="icon">
            <i class="fa-solid fa-brands fa-facebook-messenger"></i>
          </div>
         <h3>Live Class</h3>
          <p class="desc">We are providing live classes with the best teacher for you</p>
       </div>

       <div class="bot">
        <div class="icon">
          <i class="fa-solid fa-book"></i>
        </div>
       <h3>Live Class</h3>
        <p class="desc">We are providing live classes with the best teacher for you</p>
     </div>
        </div>
      </div>
    </div>

    <!-- ========== COURSES ========== -->
    <div class="courses" id="Pricing">
      <div class="content">
        <div class="body">
          <div class="duan">COURSES</div>
          <h2>Popular Courses</h2>
          <div class="row">
            <p class="desc">Check out our most poular courses that suit for you. Here you can find your favourite one.</p>
            <a href="" class="link">View All Courses</a>
          </div>
          <div class="box-chinh">
            <div class="box">
              <img src="https://images.unsplash.com/photo-1532635241-17e820acc59f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTR8fHBlb3BsZXxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=400&q=60" alt="Web Design">
              <div class="web">
                <h3>Web Design</h3>
                <p class="free">Fee <strong>$200</strong></p>
                <p class="design">Web design basic to higer level</p>
                <div class="class">
                  <p class="month">40 Classes</p>
                  <p class="month">3 Months</p>
                </div>
              </div>

              
            </div>

            <div class="box">
              <img src="https://images.unsplash.com/photo-1522202176988-66273c2fd55f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjF8fHBlb3BsZXxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=400&q=60" alt="Web Design">
              <div class="web">
                <h3>Web Development</h3>
                <p class="free">Fee <strong>$200</strong></p>
                <p class="design">Web design basic to higer level</p>
                <div class="class">
                  <p class="month">30 Classes</p>
                  <p class="month">3 Months</p>
                </div>
              </div>

              
          </div>

          <div class="box">
            <img src="https://images.unsplash.com/photo-1543269865-cbf427effbad?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTh8fHBlb3BsZXxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=400&q=60" alt="Web Design">
            <div class="web">
              <h3>UI/UX Design</h3>
              <p class="free">Fee <strong>$200</strong></p>
              <p class="design">Web design basic to higer level</p>
              <div class="class">
                <p class="month">50 Classes</p>
                <p class="month">4 Months</p>
              </div>
            </div>
        </div>
      </div>
        </div>

       <!-- = row-1 = -->
        <div class="row-1">
          <div class="column">
            <div class="so-lieu">100+</div>
            <p class="desc-row">Popular Courses</p>
          </div>

          <div class="column">
            <div class="so-lieu">500+</div>
            <p class="desc-row">Skilled Trainer</p>
          </div>

          <div class="column">
            <div class="so-lieu">1M+</div>
            <p class="desc-row">Student Learning</p>
          </div>
        </div>
      </div>
    </div>

    <!-- ============ img ============ -->
    <div class="img"
    id="About">
      <div class="content">
        <div class="body">
          <div class="body-left">
            <i class="fa-solid fa-quote-left"></i>
            <p class="desc">“They are the best people. And this is the suitable platform to learn from distance.”</p>
            <p class="studen"><strong>-Ben Foakes,</strong> student.</p>
            <div class="action">
              <i class="fa-solid fa-angle-right icon"></i>
              <i class="fa-solid fa-angle-left icon"></i>
            </div>
          </div>

          <div class="body-right">
            <div class="tu-pian">
              <img src="https://images.pexels.com/photos/235462/pexels-photo-235462.jpeg?h=350&auto=compress&cs=tinysrgb" alt="" class="img-1">
              <img src="https://images.unsplash.com/photo-1520810627419-35e362c5dc07?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&fit=crop&h=200&w=200&ixid=eyJhcHBfaWQiOjE3Nzg0fQ" alt="" class="img-2">
              <img src="https://images.unsplash.com/photo-1546539782-6fc531453083?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&fit=crop&h=200&w=200&ixid=eyJhcHBfaWQiOjE3Nzg0fQ" alt="" class="img-3">
              <img src="https://images.pexels.com/photos/638700/pexels-photo-638700.jpeg?h=350&auto=compress&cs=tinysrgb" alt="" class="img-4">
              <img src="https://randomuser.me/api/portraits/men/4.jpg" alt="" class="img-5">
              <img src="https://randomuser.me/api/portraits/men/46.jpg" alt="" class="img-6">
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- =========== ready ============ -->
    <div class="ready">
      <div class="content">
        <div class="content-body">
          <div class="body">
            <div class="row">
              <h2 class="title">Ready to Get Admit</h2>
              <p class="desc">Create your account and Boost your Career.</p>
            </div>
            <div class="action">
              <a href="" class="btn">Get Started</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <!-- ============= footer =============== -->
    <footer class="footer" id="contact">
      <div class="content">
        <div class="body">
          <a href="" class="logo">
            <i class="fa-solid fa-dove fa-2xl"></i>
        <strong>Besnil.</strong>
          </a>
          <div class="column">
            <div class="desc">Company</div>
            <ul>
              <li><a href="">About</a></li>
              <li><a href="">Careers</a></li>
              <li><a href="">Press</a></li>
            </ul>
          </div>

          <div class="column">
            <div class="desc">Community</div>
            <ul>
              <li><a href="">Team Plans</a></li>
              <li><a href="">Blog</a></li>
              <li><a href="">Students</a></li>
              <li><a href="">Schoolarships</a></li>
            </ul>
          </div>

          <div class="column">
            <div class="desc">Teaching</div>
            <ul>
              <li><a href="">Become a teacher</a></li>
              <li><a href="">Teaching academy</a></li>
            </ul>
          </div>

          <div class="column">
            <div class="desc">Be social</div>
            <ul>
              <li><a href="">
                <i class="fa-brands fa-twitter"></i>
                Twitter</a></li>
              <li><a href="">
                <i class="fa-brands fa-facebook"></i>
                Facebook</a></li>
              <li><a href="">
                <i class="fa-brands fa-instagram"></i>
                Instagram</a></li>
              <li><a href="">
                <i class="fa-brands fa-linkedin"></i>
                Linkedin</a></li>
            </ul>
          </div>
        </div>

        <div class="end">© Copyright 2020 by Mayad Ahmed. All right reserved.</div>
      </div>
    </footer>
</body>
</html>